<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
</head>
<link href="/css/table1.css" rel="stylesheet"/>
<link href="/css/header1.css" rel="stylesheet"/>
<link href="/css/page2.css" rel="stylesheet"/>
<link href="/css/field.css" rel="stylesheet"/>
<link href="/css/label.css" rel="stylesheet"/>
<link href="/css/section1.css" rel="stylesheet"/>

<body>
<!-- header start -->
<div class="header">

    <a href=""><img alt="header" src="/images/logo/header.png"></a>
    <a href="/">Home</a>
    <a href="/user">Users</a>
    <a href="/contract">Contracts</a>


</div>
<!-- header end -->

<!-- table start -->
<div class="undHeadSection">

    <img src="/images/contract.png"><br>
    <span style="font-weight:bold">Accident insurance</span><br>
    <span>ID:</span>
    <span class="center" th:text="${contract.contractNumber}"></span>

</div>

<form id="field" th:object="${contract}"
      th:onsubmit="'return actionOnSubmit('+${edit}+','+${contractId}+','+${userId}+')'"  method="post" >

    <div class="undUndSection">
        <h1 class="center">Date</h1>
        <label>Begin date</label>
        <input id="beginDate" placeholder=""  th:field="*{beginInsurance}"   required type="date"/><br/>
        <label>End Date</label>
        <input id="endDate" placeholder="" th:field="*{endInsurance}"  required type="date"/><br/>
    </div>
    <div class="undUndSection">
        <h1 class="center">Payment</h1>
        <label>Indemnity</label>
        <input id="indemnity" placeholder=""  th:field="*{indemnity}"  min="0" required type="number"/><br>
        <label>Monthly payment</label>
        <input id="monthlyPayment" placeholder=""  th:field="*{monthlyPayment}" min="0" required type="number"/><br>

        <label>Death</label>
        <input id="death" placeholder=""  th:field="*{death}" min="0" required type="number"/><br>
        <label>Permanent insult consequences </label>
        <input id="permanentInsultConsequences" placeholder=""  th:field="*{permanentInsultConsequences}"
               min="0"  required type="number"/><br>
        <label>Daily hospital compensation</label>
        <input id="dailyHospitalCompensation" placeholder="" th:field="*{dailyHospitalCompensation}" min="0" required type="number"/>
    </div>
    <div class="undUndSection">
        <h1 class="center">Person</h1>
        <select id="insured.id" name="insured.id" style="background-color: black;color: whitesmoke"  required >
            <option hidden value=""> Select insured</option>
            <option th:each="user : ${users}"
                    th:text="${user.value.identification.firstName}+' '+${user.value.identification.lastName}+' '+${user.value.id}"
                    th:value="${user.value.id}"/>
            <label>Insured</label>
        </select>
    </div>

    <div class="undUndSection">
        <h1 class="center">Territorial validity</h1>
        <select id="territorialValidity" name="territorialValidity" style="background-color: black;color: whitesmoke" required>
            <option hidden value="">Select area</option>
            <option th:each="territorial : ${allTerritorialValidity}"
                    th:text="${territorial.toWord()}"
                    th:value="${territorial}"/>
            <label>Territorial</label>
        </select>
    </div>

    <div class="undHeadSection">
        <input class="submit" th:value="${edit} ? 'Edit' : 'Add'" type="submit"/>
    </div>
</form>
</body>
<script>
    function actionOnSubmit(control, contractId, userId) {

        var isValidateDate=checkDate();
        //Get the selected value of the select list
        if(!isValidateDate) {
            return false;
        }


            var val = "/add/Accident/" + userId;

            if (control)
                val = "/edit/Accident/" + contractId + "/" + userId;


            /* if (detail)
             val = "/edit/contract/detail/" + id;*/

            var frm = document.getElementById('field');
            frm.action = val;


    }


    function checkDate() {
        var selectedTextBegin = document.getElementById('beginDate').value;
        var selectedTextEnd = document.getElementById('endDate').value;
        var beginDate = new Date(selectedTextBegin);
        var endDate = new Date(selectedTextEnd);

        if (beginDate>=endDate) {
            alert("Begin date must be smaller as End date!");
            return false;
        }
        return true;
    }
</script>
</html>