<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/header1.css" rel="stylesheet"/>
    <link href="/css/page2.css" rel="stylesheet"/>
    <link href="/css/section1.css" rel="stylesheet"/>
    <link href="/css/contact1.css" rel="stylesheet"/>
    <link href="/css/copyright.css" rel="stylesheet"/>
</head>
<body>
<div class="header">

    <a href=""><img src="/images/logo/header.png"></a>
    <a class="active" href="/">Home</a>
    <a href="/user">Users</a>
    <a href="/contract">Contracts</a>


</div>
</body>
</html>











